@{
    ViewBag.Title = "About";
}
<style>
    .headerImage {
        height: 77px;
        width: 156px;
        margin-top: 9px;
    }
</style>


@*Barra horizontal para dar estilo a la página*@
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index")">
                <img src="~/Images/evenbritePNG2.png" class="headerImage" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
        </div>
    </div>
</div>