@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/StyleSheet.css" rel="stylesheet" />

<div id="popup" class="cuadro1">
    <div>
        <h2>¡GRACIAS POR JUGAR CONMIGO!!</h2>
    </div>
</div>

<script type="text/javascript">
    function show_popup() {
        $("#popup").modal();
    }
</script>  