@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.CSHTML";
}

<link href="~/Content/StyleSheet.css" rel="stylesheet" />

<div class="saludo">
    <div>
        <p>¡GRACIAS POR JUGAR CONMIGO!</p>
    </div>
</div>

