@{
    ViewBag.Title = "Gracias";
    Layout = "~/Views/Shared/_Layout.CSHTML";
}
@*Vista a la que se ingresa cuando el usuario no quiere jugar más*@
<div class="saludo">
    <div>
        <p>¡GRACIAS POR JUGAR CONMIGO!</p>
    </div>
</div>

