@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/StyleSheet.css" rel="stylesheet" />

<div id="popup" class="cuadro1">
    <div>
        <h2>¡FELICIDADES, GANASTE!</h2>
    </div>
    <div>
        <h3>¿Querés jugar una vez más?</h3>
        <div class="form-group">
            @*<div class="form-group">*@
            <input class="botones" type="button" value="Si" onclick="location.href='@Url.Action("SeguirJuego", "Home")' + '?idJuega=' + 'Si';" />
            @*</div>*@
            @*<div class="form-group">*@
            <input class="botones" type="button" value="No" onclick="location.href='@Url.Action("SeguirJuego", "Home")' + '?idJuega=' + 'No';" />
            @*</div>*@
        </div>
    </div>


</div>

<script type="text/javascript">
    function show_popup() {
        $("#popup").modal();
    }
</script>  