@model JuegoAdivinarNumero.Models.Juego

@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <style>
    </style>
</head>

<div class="cuadro">
    <div>
        <h2 class="titulo">¡Selecciona la opción que más te guste!</h2>
    </div>
    @using (Html.BeginForm())
    {
        <br />
        <div class="form-group">
            <input class="botones" type="button" value="Adivinas tu" onclick="location.href='@Url.Action("QuienJuega", "Home")' + '?idJuega=' + 'persona';" />
            <input class="botones" type="button" value="Adivino yo" onclick="location.href='@Url.Action("QuienJuega", "Home")' + '?idJuega=' + 'computadora';" />
        </div>
    }
</div>

